header {
  background-color: cornsilk; 
  
}
footer {
  background-color: burlywood; 
  
.title-bar {
  background-color: burlywood; 
  
}
#wrap {
  background-color: cornsilk; 
}
.submenu.menu.vertical {
  background-color: cornsilk; 
}

}
.row.expanded.callout.secondary {
  background-color: cornsilk; 
  
}